<ul class="nav nav-pills">
<li>
    <a href="{{ url_for('index') }}">Index</a>
</li>
<li>
    <a href="{{ url_for('show_users') }}">Users</a>
</li>
<li>
    <a href="{{ url_for('show_expenses') }}">Expenses</a>
</li>
<li>
    <a href="{{ url_for('show_groups') }}">Groups</a>
</li>
{#    {% if user %}#}
{#        <li>#}
{#            <a href="/sign-out" class="btn btn-lg">#}
{#              <span class="glyphicon glyphicon-log-out"></span> Sign out#}
{#            </a>#}
{#        </li>#}
{#    {% endif %}#}
</ul>